<xsl:transform xmlns:xsl="http://www.w3.org/1999/XSL/Transform" version="1.0">
<xsl:template match="page-link" mode="x-component">

  <template autobem="true">
    <button type="button" class="$el">
      <x-slot />
    </button>
  </template>

  <script autoselect="true">/*<![CDATA[*/
    window.xsalt.components['page-link'].scrollTo = function (sectionId) {
      window.scrollTo({
        top: (window.pageYOffset + document.getElementById(sectionId).getBoundingClientRect().top),
        behavior: 'smooth'
      });
    }
    $refs.el.addEventListener('click', function () {
      window.xsalt.components['page-link'].scrollTo(this.getAttribute('data-id'));
    })
  /*]]>*/</script>

  <style autobem="true">/*<![CDATA[*/
    .\$ {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
      padding: 0;
      background: none;
      border: 0;
      cursor: pointer;
      box-shadow: none;
      line-height: 1;
      text-align: inherit;
      font: inherit;
      color: #005aff;
      font-size: 1.1em;
      transition: color .2s cubic-bezier(.1, 1, .6, 1);
    }
    .\$:hover,
    .\$:active,
    .\$:focus {
      text-decoration: none;
    }
    [data-active-section=fast] .\$[data-id=fast] { color: #e30c80; }
    [data-active-section=user-friendly] .\$[data-id=user-friendly] { color: #e30c80; }
    [data-active-section=secure] .\$[data-id=secure] { color: #e30c80; }
    [data-active-section=accessible] .\$[data-id=accessible] { color: #e30c80; }
    [data-active-section=websites-and-apps] .\$[data-id=websites-and-apps] { color: #e30c80; }
    [data-active-section=robust-and-efficient] .\$[data-id=robust-and-efficient] { color: #e30c80; }
    [data-active-section=team] .\$[data-id=team] { color: #e30c80; }
    [data-active-section=job] .\$[data-id=job] { color: #e30c80; }
  /*]]>*/</style>

</xsl:template>
</xsl:transform>
