<xsl:transform xmlns:xsl="http://www.w3.org/1999/XSL/Transform" version="1.0">
<xsl:template match="accessible" mode="x-component">

  <template autobem="true">
    <overlay data-id="accessible">

      <template x-slot="heading">Accessible 🧗</template>

      <p>I am a strong advocate of Universal Design principles, which encompass a broader concept than accessibility alone. It aims to ensure that content can be accessed, understood, and utilized to the greatest extent possible by all individuals. This involves incorporating accessibility, responsiveness, cross-browser compatibility, and usability best practices.</p>

    </overlay>
  </template>

</xsl:template>
</xsl:transform>
