<xsl:transform xmlns:xsl="http://www.w3.org/1999/XSL/Transform" version="1.0">
<xsl:template match="fast" mode="x-component">

  <template autobem="true">
    <overlay>
      <xsl:attribute name="id"><xsl:value-of select="name(.)" /></xsl:attribute>

      <template x-slot="heading">Fast ⚡</template>

      <p>Performance is crucial for the success of a product and its overall user experience. The product should both load and perform fast. I achieve this by employing various techniques and best practices, including: image optimization, assets concatenation and minimization, code splitting, cache handling, avoidance of overbloated third-party packages.</p>

    </overlay>
  </template>

</xsl:template>
</xsl:transform>
