<xsl:transform xmlns:xsl="http://www.w3.org/1999/XSL/Transform" version="1.0">
<xsl:template match="robust-and-efficient" mode="x-component">

  <template autobem="true">
    <overlay>
      <xsl:attribute name="id"><xsl:value-of select="name(.)" /></xsl:attribute>

      <template x-slot="heading">Robust and Efficient 🎯</template>

      <p>I prioritize clean, maintainable code with an emphasis on composition and DRY principles. I have experience in maintaining large-scale websites and apps with automated testing systems.</p>

    </overlay>
  </template>

</xsl:template>
</xsl:transform>
