<xsl:transform xmlns:xsl="http://www.w3.org/1999/XSL/Transform" version="1.0">
<xsl:template match="user-friendly" mode="x-component">

  <template autobem="true">
    <overlay data-id="user-friendly">

      <template x-slot="heading">User Friendly 🧑‍🚀</template>

      <p>I believe usability is one of the most important aspects of a successful product. My utmost priority is to craft UIs that users find pleasing to use and that can be used effectively to achieve their goals.</p>

    </overlay>
  </template>

</xsl:template>
</xsl:transform>
