<xsl:transform xmlns:xsl="http://www.w3.org/1999/XSL/Transform" version="1.0">
<xsl:template match="websites-and-apps" mode="x-component">

  <template autobem="true">
    <overlay data-id="websites-and-apps">

      <template x-slot="heading">Websites and Apps 🚀</template>

      <p>I began my journey with CMS and then transitioned to working with reactive Single Page Applications. I have expertise in both React and Angular, and I have a profound understanding of Vue.</p>

    </overlay>
  </template>

</xsl:template>
</xsl:transform>
